<div class="container mt-5 pb-1 w-50">
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="needs-validation" novalidate>
      <div class="mb-3 p-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp" required [ngClass]="{'border-danger': email?.invalid && (email?.dirty || email?.touched), 'border-success': email?.valid}">
        <div *ngIf="email?.errors?.['required']" id="emailHelp" class="form-text text-danger">Email is required!</div>
        <div *ngIf="email?.errors?.['email']" id="emailHelp" class="form-text text-danger">This must be a valid email!</div>
        <div *ngIf="email?.valid" id="emailHelp" class="form-text text-success">Valid email!</div>
      </div>
      <div class="mb-3 p-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" required [ngClass]="{'border-danger': password?.invalid && (password?.dirty || password?.touched), 'border-success': password?.valid}">
        <div *ngIf="password?.errors?.['required']" id="passwordHelpInline" class="form-text text-danger">Password is required!</div>
        <div *ngIf="password?.valid" id="passwordHelpInline" class="form-text text-success">Valid password!</div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-success mb-3">Submit</button>
    </form>


    <ng-template [ngIf]="success == true">
      <div class="alert alert-success mt-2">
        <strong>Success!</strong> User logged!
      </div>
    </ng-template>
    
    <ng-template [ngIf]="failure == true">
      <div class="alert alert-danger mt-2">
        <strong>Failed!</strong> {{message}}
      </div>
    </ng-template>
</div>


