  <!-- Error Alert -->
  <div class="alert alert-danger alert-dismissible fade show" *ngIf="failure">
    <strong>Error!</strong> A problem has been occurred: {{message || 'Server is unreachable!'}}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  
  <div class="container justify-content-center align-items-center d-flex flex-column mt-5">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Brand</th>
              <th scope="col">Color</th>
              <th scope="col">Type</th>
              <th scope="col">Transmission</th>
              <th scope="col">Year</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let car of cars; index as i">
              <th scope="row">{{i +  1}}</th>
              <td><img [src]="car.returnedImage" class="card-img-top" height="100" width="100"></td>
              <td>{{car.name}}</td>
              <td>{{car.brand}}</td>
              <td>{{car.color}}</td>
              <td>{{car.type}}</td>
              <td>{{car.transmission}}</td>
              <td>{{car.year}}</td>
              <td><button class="btn btn-primary" routerLink="/customer/book/{{car.id}}">Book</button></td>
            </tr>
          </tbody>
        </table>
  </div>